# Deny all
*

!.gitignore

!/Gemfile
!/Gemfile.lock

!/tsconfig.json
!/yarnrc.yml
!/package.json
!/yarn.lock

!/_config.yml

!/README.md
!/index.md
!/404.md

!/favicon.ico

!/data/
!/data/*.yml

!/includes/
!/includes/*.html
!/includes/partials/
!/includes/partials/*.html

!/layouts/
!/layouts/*.html

!/_sass/
!/_sass/*.scss

!/app/
!/app/*/
!/app/*/index.md
!/app/*/script.js
!/app/nsfw/index.html
!/app/nsfw/i.png

!/assets/
!/assets/css/
!/assets/css/global.css
!/assets/font/
!/assets/font/*.woff
!/assets/font/*.woff2
!/assets/img/
!/assets/img/i.png

!/functions/
!/functions/*/
!/functions/*/*.ts
