// Anagram

.anagram {
    .a {
        background: #fee;
    }

    .b {
        background: #eef;
    }

    .eql {
        background: #efe;
    }

    table {
        width: 100%;
        text-align: center;

        th {
            font-weight: bold;
        }
    }
}